<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span class="logo">blogum.com</span>
  <span class="example-spacer"></span>
  
  <button mat-button routerLink="/create-post" *ngIf="isAuthorOrAdmin">
    Gönderi Ekle
  </button>

  <button mat-button routerLink="/create-category" *ngIf="isAuthorOrAdmin">
    Kategori Ekle
  </button>
  
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Logout"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
