<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span class="logo">blogum.com</span>
  <span class="example-spacer"></span>
  
  <button mat-button routerLink="/create-post">
    Gönderi Ekle
  </button>

  <button mat-button routerLink="/create-category">
    Kategori Ekle
  </button>
  
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
