footer{
    margin: auto;
    display: flex;
    height: 50px;
    background-color: #00000033;
    text-align: center;
    p{
        margin: auto;
        span{
            color: #f44336;
        }
    }
    
}